
<div style="   background: linear-gradient(0deg,#ec250d 0,#fd5d93 100%); 

width: 100%; scale:(0.2); position: relative;  text-align: center; color: white; "  class="bottom">
<br><br>

<h2 style="font-size: 30px;">Contact us</h2>
<br>
<p>ABC gandhipuram ,100feet Coimbatore</p>



  GMAIL :  <a  style="list-style: none; color: white;" href="#"> abc@gmail.com </a><br><br><br>

<img   style="width: 70px; height:70px; cursor: pointer; padding: 10px;" src="https://s3-ap-southeast-1.amazonaws.com/learnyst/assets/schools/learnyst/resources/icons/social/01.png" alt="">
<img  style="width: 70px; height: 70px; cursor: pointer;padding: 10px;" src="https://learnyst.s3.amazonaws.com/assets/schools/2410/resources/images/05_97kwte_kaprhg.png" alt="">
<img style="width: 70px; height: 70px; cursor: pointer;padding: 10px;" src="https://learnyst.s3.amazonaws.com/assets/schools/2410/resources/images/social_instagram_new_circle_512_2ty4yx.png" alt="">
</div>