
 nav{
  /* background: linear-gradient(0deg,#ec250d 0,#fd5d93 100%); */

  /* rgb(82, 95, 127rgb(82, 95, 127 */

  /* rgb(82, 95, 127) */
  background-color: #ff3545;
  background: linear-gradient(-45deg, #a91823 0%, #ff3545 100%);
  

   /* background:#AE1438; */
   /* background-image: url(https://learnyst.s3.amazonaws.com/assets/schools/2410/resources/images/1_iaye1_3m3x7x_oq0w3u.png?v=nfb2rq); */

    }



    /* background-color: #ff3545;
    background: linear-gradient(-45deg, #a91823 0%, #ff3545 100%);
  */
 
  /* background: linear-gradient(0deg,#ec250d 0,#fd5d93 100%); */
        
